/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Manjari', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Manjari', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header img {
  width: 220px;
  height: auto;
}
header nav ul li {
  list-style: none;
  display: inline;
  margin-left: 5em;
}
header nav ul li a {
  font-size: 1.8rem;
  color: #282828;
  text-decoration: none;
  letter-spacing: 0.08em;
  border-radius: 0.2em;
  font-weight: 600;
}
header nav ul .register a {
  padding: 0.8em 1.8em;
  border: 2px solid #ff6347;
  color: #ff6347;
  font-weight: 600;
}
footer {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}
footer .links {
  display: flex;
  justify-content: space-around;
}
footer .links .footer-logo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .links .footer-logo-nav .footer-logo-con {
  width: 125px;
}
footer .links .footer-logo-nav .footer-nav {
  padding-top: 0.15em;
}
footer .links .footer-logo-nav .footer-nav ul li {
  list-style: none;
  display: inline;
}
footer .links .footer-logo-nav .footer-nav ul li a {
  text-decoration: none;
  color: #646464;
  margin-left: 3em;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  cursor: pointer;
}
footer .links .footer-logo-nav .footer-nav ul li a:hover {
  color: #ff6347;
}
footer .links .footer-icons {
  font-size: 1.8rem;
  margin-top: 0.3em;
}
footer .links .footer-icons .f-icons {
  margin-left: 0.5em;
  color: #646464;
}
footer .links .footer-icons .f-icons:hover {
  color: #3b3b3b;
}
footer .copyright {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2.5em;
  color: #646464;
}
footer .copyright .footer-copy {
  font-weight: 600;
  letter-spacing: 0.08em;
  font-size: 1.25rem;
}
.main-content {
  border: 1px solid black;
  font-size: 1rem;
}
.main-content .head-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  padding: 5em;
  border: 1px solid #455;
}
@media (max-width: 500px) {
  .main-content .head-content {
    height: 400px;
  }
}
.main-content .head-content .header-text {
  max-width: 400px;
  margin-left: 10em;
  margin-right: 5em;
}
@media (max-width: 500px) {
  .main-content .head-content .header-text {
    width: 350px;
    height: auto;
    justify-content: center;
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.main-content .head-content .header-text h1 {
  font-size: 3.5rem;
  font-weight: 600;
}
@media (max-width: 500px) {
  .main-content .head-content .header-text h1 {
    font-size: 2.8rem;
  }
}
.main-content .head-content .header-text p {
  font-size: 1.8rem;
  margin-top: 1.8em;
}
@media (max-width: 500px) {
  .main-content .head-content .header-text p {
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 2em;
  }
}
.main-content .head-content .header-text a button {
  cursor: pointer;
  font-family: 'Manjari', sans-serif;
  margin-top: 1.5em;
  background: #ffffff;
  padding: 0.5em 1.5em;
  font-size: 1.6rem;
  border-radius: 0.5em;
  font-weight: 500;
  letter-spacing: 0.08em;
  border: 0.15rem solid #ff6347;
  color: #ff6347;
}
.main-content .head-content .hero {
  max-width: 400px;
  margin-right: 10em;
  margin-left: 5em;
}
@media (max-width: 500px) {
  .main-content .head-content .hero {
    display: none;
  }
}
.main-content .features-con {
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
}
.main-content .features-con .sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  .main-content .features-con .sections {
    flex-direction: column;
  }
}
.main-content .features-con .sections .feature-image {
  width: 300px;
  height: 250px;
}
.main-content .features-con .sections .feature-text {
  width: 300px;
  height: auto;
  justify-self: flex-start;
  font-weight: 600;
}
@media (max-width: 500px) {
  .main-content .features-con .sections .feature-text {
    text-align: center;
    margin-top: 3em;
  }
}
.main-content .features-con .sections .feature-text p {
  font-weight: 500;
}
.main-content .features-con .section1 {
  margin-top: 5em;
}
.main-content .features-con .section2 {
  flex-direction: row-reverse;
  margin-top: 10em;
}
@media (max-width: 500px) {
  .main-content .features-con .section2 {
    flex-direction: column;
    margin-top: 5em;
  }
}
.main-content .features-con .section3 {
  margin-top: 10em;
  margin-bottom: 10em;
}
@media (max-width: 500px) {
  .main-content .features-con .section3 {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}
.about-test {
  width: 100px;
  height: 100px;
  background: #d31212;
}
