footer {
  font-size: 1.5rem;
  max-width: 900px;
  margin: 0px auto;
  .links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50%;
    @media (@mobile) {
      flex-direction: column;

      padding: 1rem;
    }
    .logo {
      font-size: 2rem;
      @media (@mobile) {
        padding-bottom: 10px;
      }
    }
    .footer-nav ul {
      display: flex;
      a {
        color: black;
        padding: 1rem;
      }
    }
    .footer-icons {
      font-size: 3rem;
      @media @mobile {
        padding: 2rem;
      }
    }
  }
  .copyright {
    text-align: center;
    padding-bottom: 3rem;
  }
}
