.main-content {
    border: 1px solid black;
    margin-top: 50px;
    
    .banner {
        border: 1px solid black;
        height: 50vh;
        display: flex;
        .text {
            border: 1px solid black;
            width: 50%;
            .text-box {
                border: 1px solid black;
            }
        }
        .main-image {
            border: 1px solid black;
        }
    }
    .features {
        border: 1px solid black;
        height: 90vh;
        display: flex;
        justify-content: center;
        .box-container {
            border: 1px solid black;
            width: 80%;
            height: 100%;
        }
    }
}