header {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 0.2em solid rgba(255, 99, 71, 0.7);

  img {
    width: 220px;
    height: auto;
  }

  nav {
    ul {
      li {
        list-style: none;
        display: inline;
        margin-left: 5em;
        a {
          font-size: 1.8rem;
          color: rgb(40, 40, 40);
          text-decoration: none;
          letter-spacing: 0.08em;
          font-weight: 500;

          &:hover {
              color: rgb(255, 99, 71);
          }
        }
      }
      .register {
        a {
            padding: 0.6em 1.8em;
          border: 2px solid rgb(255, 99, 71);
          background: rgb(255, 99, 71);;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}
